## pareto filter policies

**!!! remember to run "pip install pareto" in the terminal !!!**df = pd.read_csv('output/20230614T1059_results_seed_ds.csv')

In [1]:
import pandas as pd
import pareto

INPUT_FILENAME = 'output/20230614T1059_results_seed_ds'

df = pd.read_csv('output/20230614T1059_results_seed_ds.csv')
df

,Unnamed: 0,0_RfR 0,0_RfR 1,0_RfR 2,1_RfR 0,1_RfR 1,1_RfR 2,2_RfR 0,2_RfR 1,2_RfR 2,...,A.4_DikeIncrease 1,A.4_DikeIncrease 2,A.5_DikeIncrease 0,A.5_DikeIncrease 1,A.5_DikeIncrease 2,A.4 Expected Annual Damage,A.4 Expected Number of Deaths,Total Infrastructure Costs,Total Expected Annual Damage,Total Expected Number of Deaths
0,0,1,0,1,0,0,0,1,0,1,...,2,2,10,6,0,2.565551e+06,0.000208,7.972903e+08,2.565551e+06,0.000208
1,1,0,0,1,0,0,0,0,1,1,...,5,6,2,5,3,0.000000e+00,0.000000,7.829705e+08,2.693954e+06,0.000377
2,2,0,0,1,0,0,0,1,1,1,...,2,2,10,3,0,0.000000e+00,0.000000,8.257038e+08,0.000000e+00,0.000000
3,3,0,0,0,1,0,0,0,0,1,...,1,5,2,7,1,0.000000e+00,0.000000,6.300031e+08,1.145353e+07,0.001979
4,0,0,0,0,0,0,0,0,1,0,...,4,6,6,8,4,1.572397e+06,0.000131,7.030403e+08,1.572397e+06,0.000131
5,1,0,0,0,0,0,0,1,1,0,...,7,3,6,4,9,0.000000e+00,0.000000,7.657285e+08,1.797248e+06,0.000472
6,2,0,0,0,0,0,0,1,1,0,...,5,0,7,5,5,5.586599e+06,0.000518,6.074241e+08,1.066256e+07,0.001404
7,3,1,1,0,0,0,0,1,0,0,...,5,2,4,8,4,0.000000e+00,0.000000,9.042647e+08,0.000000e+00,0.000000
8,0,0,0,0,0,0,0,1,0,0,...,6,5,5,4,2,0.000000e+00,0.000000,6.624737e+08,1.340876e+07,0.003554
9,1,1,0,0,0,0,0,0,0,1,...,4,6,6,4,1,0.000000e+00,0.000000,7.299270e+08,0.000000e+00,0.000000
10,2,0,1,0,0,0,0,1,1,0,...,6,1,5,2,1,0.000000e+00,0.000000,6.809190e+08,1.797248e+06,0.000590
11,3,0,0,0,0,0,0,1,1,1,...,1,5,0,5,1,0.000000e+00,0.000000,5.966784e+08,4.428758e+07,0.007415
12,0,0,1,1,0,0,0,1,1,0,...,5,1,3,4,2,0.000000e+00,0.000000,7.505215e+08,0.000000e+00,0.000000
13,1,0,1,1,0,0,0,1,0,0,...,9,4,4,6,5,0.000000e+00,0.000000,6.948230e+08,1.145353e+07,0.013196
14,0,0,1,0,0,0,0,0,0,0,...,3,5,5,5,0,0.000000e+00,0.000000,4.793468e+08,8.191480e+07,0.021466
15,1,0,1,0,0,0,0,0,0,0,...,0,4,4,2,0,0.000000e+00,0.000000,4.943751e+08,2.634748e+07,0.007037
16,2,0,0,0,0,0,0,1,1,0,...,1,1,5,0,4,0.000000e+00,0.000000,6.554245e+08,0.000000e+00,0.000000
17,3,0,1,0,0,0,0,1,0,0,...,1,4,5,1,0,0.000000e+00,0.000000,5.713262e+08,9.747011e+06,0.002577

In [2]:
file = open(INPUT_FILENAME + '.csv')
tables = [pareto.noattribution(file)]
# 0th row isa header
tables = [pareto.filter_lines(annotatedlines, header=1) for annotatedlines in tables]
tables = [pareto.rowsof(annotatedlines, ',') for annotatedlines in tables]
# we are interested in outcome columns numbered 32-36
tables = [pareto.withobjectives(annotatedrows, range(32, 37)) for annotatedrows in tables]
tagalongs = pareto.eps_sort_solutions(tables, [100, 0.01, 100, 100, 0.01])

In [3]:
df_out = pd.DataFrame(columns=list(df.columns))
df_out

Empty DataFrame
Columns: [Unnamed: 0, 0_RfR 0, 0_RfR 1, 0_RfR 2, 1_RfR 0, 1_RfR 1, 1_RfR 2, 2_RfR 0, 2_RfR 1, 2_RfR 2, 3_RfR 0, 3_RfR 1, 3_RfR 2, 4_RfR 0, 4_RfR 1, 4_RfR 2, EWS_DaysToThreat, A.1_DikeIncrease 0, A.1_DikeIncrease 1, A.1_DikeIncrease 2, A.2_DikeIncrease 0, A.2_DikeIncrease 1, A.2_DikeIncrease 2, A.3_DikeIncrease 0, A.3_DikeIncrease 1, A.3_DikeIncrease 2, A.4_DikeIncrease 0, A.4_DikeIncrease 1, A.4_DikeIncrease 2, A.5_DikeIncrease 0, A.5_DikeIncrease 1, A.5_DikeIncrease 2, A.4 Expected Annual Damage, A.4 Expected Number of Deaths, Total Infrastructure Costs, Total Expected Annual Damage, Total Expected Number of Deaths]
Index: []

[0 rows x 37 columns]

In [4]:
for row in tagalongs:
    df_out.loc[len(df_out)] = row

In [5]:
df_out

,Unnamed: 0,0_RfR 0,0_RfR 1,0_RfR 2,1_RfR 0,1_RfR 1,1_RfR 2,2_RfR 0,2_RfR 1,2_RfR 2,...,A.4_DikeIncrease 1,A.4_DikeIncrease 2,A.5_DikeIncrease 0,A.5_DikeIncrease 1,A.5_DikeIncrease 2,A.4 Expected Annual Damage,A.4 Expected Number of Deaths,Total Infrastructure Costs,Total Expected Annual Damage,Total Expected Number of Deaths
0,0,0,1,0,0,0,0,0,0,0,...,3,5,5,5,0,0.0,0.0,479346772.74891424,81914801.56140883,0.02146624169125063
1,1,0,1,0,0,0,0,0,0,0,...,0,4,4,2,0,0.0,0.0,494375075.7888767,26347479.39040076,0.007037474286767709
2,2,0,0,0,0,0,0,1,1,0,...,1,1,5,0,4,0.0,0.0,655424539.9866986,0.0,0.0
3,3,0,1,0,0,0,0,1,0,0,...,1,4,5,1,0,0.0,0.0,571326199.2554559,9747010.772863006,0.0025773639253899435

In [6]:
df_out.to_csv(INPUT_FILENAME + '_pareto.csv')